/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-laboratory-white text-laboratory-black;
    font-family: 'Devanagari Sangam MN', sans-serif;
    letter-spacing: 0.25em; /* 25% letter spacing */
  }

  /* Typography scale */
  .text-regular {
    font-size: 12px;
    font-weight: 400;
  }

  .text-medium {
    font-size: 16px;
    font-weight: 400;
  }

  .text-title {
    font-size: 24px;
    font-weight: 700;
  }
}

button {
  @apply focus:outline-none;
}